{namespace s=S3b0\ProjectRegistration\ViewHelpers}
<h3><f:translate id="message_status_update_dear" /> {data.project.registrant.name},</h3>
<p><f:translate id="message_status_update_thx" /></p>
<f:if condition="{data.accepted}">
	<f:then>
		<f:format.nl2br><f:translate id="message_status_update_accepted" /></f:format.nl2br>
	</f:then>
	<f:else>
		<f:format.nl2br><f:translate id="message_status_update_rejected" /></f:format.nl2br>
		<f:if condition="{data.project.denialNote}">
			{data.project.denialNote -> f:format.nl2br()}
		</f:if>
	</f:else>
</f:if>
<hr />
<p style="font-size: 0.8em; "><f:translate id="message_footer" /></p>