{namespace s=S3b0\ProjectRegistration\ViewHelpers}
<p style="font-size: 1.2em;font-weight: bold">Your Project Registration has been submitted successfully, thank you very much!</p>
<table>
	<tr>
		<td><f:translate id="{data.settings.addressees.label}" /></td>
		<td>{s:getArrayElement(array: data.addressees, key: data.submitted.project.addressee)}</td>
	</tr>
	<f:if condition="{data.submitted.registrant.noLoginUser}">
		<tr>
			<td colspan="2" style="font-size: 1.2em; font-weight: bold;text-align: left"><f:translate id="tx_projectregistration_domain_model_project.registrant"/></td>
		</tr>
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.name" /></td>
			<td>{data.submitted.registrant.name}</td>
		</tr>
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.company" /></td>
			<td>{data.submitted.registrant.company}</td>
		</tr>
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.email" /></td>
			<td>{data.submitted.registrant.email}</td>
		</tr>
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.phone" /></td>
			<td>{data.submitted.registrant.phone}</td>
		</tr>
	</f:if>
	<tr>
		<td colspan="2" style="font-size: 1.2em; font-weight: bold;text-align: left"><f:translate id="tx_projectregistration_domain_model_project"/></td>
	</tr>
	<tr>
		<td>ID</td>
		<td>#{data.submitted.project.uid}</td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.date_of_request"/></td>
		<td>{data.submitted.project.dateOfRequest -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.title"/></td>
		<td>{data.submitted.project.title}</td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.product"/></td>
		<td>{data.submitted.project.product.title}</td>
	</tr>
	<f:if condition="{data.submitted.project.propertyValues -> f:count()}">
		<f:for each="{data.submitted.project.propertyValues}" as="propertyValue">
			<tr>
				<td>{propertyValue.property.title}</td>
				<td>{propertyValue.title}</td>
			</tr>
		</f:for>
	</f:if>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.application"/></td>
		<td>{data.submitted.project.application}</td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.quantity"/></td>
		<td>{data.submitted.project.quantity}</td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_project.estimated_purchase_date"/></td>
		<td>{data.submitted.project.estimatedPurchaseDate -> f:format.date()}</td>
	</tr>
	<f:if condition="{data.submitted.project.registrationNotes}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_project.registration_notes"/></td>
			<td>{data.submitted.project.registrationNotes -> f:format.nl2br()}</td>
		</tr>
	</f:if>
	<!-- End user information -->
	<tr>
		<td colspan="2" style="font-size: 1.2em; font-weight: bold; padding-top: 1em;text-align: left"><f:translate id="tx_projectregistration_domain_model_project.end_user"/></td>
	</tr>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_person.company" /></td>
		<td>{data.submitted.endUser.company}</td>
	</tr>
	<f:if condition="{data.submitted.endUser.name}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.name" /></td>
			<td>{data.submitted.endUser.name}</td>
		</tr>
	</f:if>
	<f:if condition="{data.submitted.endUser.email}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.email" /></td>
			<td>{data.submitted.endUser.email}</td>
		</tr>
	</f:if>
	<f:if condition="{data.submitted.endUser.phone}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.phone" /></td>
			<td>{data.submitted.endUser.phone}</td>
		</tr>
	</f:if>
	<f:if condition="{data.submitted.endUser.city}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.city" /></td>
			<td>{data.submitted.endUser.city}</td>
		</tr>
	</f:if>
	<f:if condition="{data.submitted.endUser.site}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.site" /></td>
			<td>{data.submitted.endUser.site}</td>
		</tr>
	</f:if>
	<tr>
		<td><f:translate id="tx_projectregistration_domain_model_person.country" /></td>
		<td>{data.submitted.endUser.country.title}</td>
	</tr>
	<f:if condition="{data.submitted.endUser.state}">
		<tr>
			<td><f:translate id="tx_projectregistration_domain_model_person.state" /></td>
			<td>{data.submitted.endUser.state.title}</td>
		</tr>
	</f:if>
</table>
<p>&nbsp;</p>
<p>Within the following 3-5 business days we will provide you with the information about acceptance or denial in a separate E-mail.</p>
<p>Your ecom team</p>
<hr />
<p style="font-size: 0.8em; ">This email has been automatically generated by our tracking system.</p>