<f:flashMessages as="flashMessages">
	<ul class="myFlashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<li class="alert alert-dismissible {flashMessage.class}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<f:if condition="{flashMessage.title}"><h4>{flashMessage.title}</h4></f:if>
				<span class="fancy-icon">{flashMessage.message}</span>
			</li>
		</f:for>
	</ul>
</f:flashMessages>