<f:layout name="Default" />

<f:section name="main">

  <h1>{project.title} [#{project.uid}] &nbsp;{project.fontAwesomeStatus -> f:format.raw()}
    <f:if condition="{project.gotten}"><i class="fa fa-trophy fa-lg fa-fw" title="{f:translate(id: 'gotten')}" style="color:#ffd700;text-shadow:0 0 1px #000"></i></f:if>
  </h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="2"><br /><h3><f:translate id="project_information" /></h3></td>
      </tr>
      <tr>
        <td><f:translate id="project_title" /> :</td>
        <td>{project.title}</td>
      </tr>
      <tr>
        <td><f:translate id="registrant" /> :</td>
        <td>{project.registrant.name} <f:if condition="{f:ecom.inArray(haystack: project.registrant.feUserGroups, needle: settings.certifiedUsersUserGroup) -> f:ecom.negate()}"><span class="text-danger">[<f:translate id="user_default" />]</span></f:if> <f:link.action action="show" controller="Person" arguments="{person: project.registrant}" title="Show all information"><i class="fa fa-info-circle fa-fw"></i></f:link.action></td>
      </tr>
      <tr>
        <td><f:translate id="addressees_label_1" /> :</td>
        <td>{addressee}</td>
      </tr>
      <tr>
        <td><f:translate id="date_of_request" /> :</td>
        <td>{project.dateOfRequest -> f:format.date(format: 'r')}</td>
      </tr>
      <tr>
        <td><f:translate id="date_of_expiry" /> :</td>
        <td>
          <span class="{f:if(condition: project.active, then: 'text-success')}{f:if(condition: project.goingToExpire, then: 'text-warning')}{f:if(condition: project.expired, then: 'text-danger')}">
            {project.dateOfExpiry -> f:format.date(format: 'r')}
            <f:if condition="{project.daysToExpiry}">(<f:translate id="daysLeft" default="%1$s days left" arguments="{0: project.daysToExpiry}" />)</f:if>
          </span>
        </td>
      </tr>
      <tr>
        <td><f:translate id="product" /> :</td>
        <td>{project.product.title}</td>
      </tr>
      <f:if condition="{project.propertyValues -> f:count()}">
        <f:for each="{project.propertyValues}" as="propertyValue">
          <tr>
            <td>{propertyValue.property.title} :</td>
            <td>{propertyValue.title}</td>
          </tr>
        </f:for>
      </f:if>
      <tr>
        <td><f:translate id="application" /> :</td>
        <td>{project.application}</td>
      </tr>
      <tr>
        <td><f:translate id="quantity" /> :</td>
        <td>{project.quantity}</td>
      </tr>
      <tr>
        <td><f:translate id="estimated_purchase_date" /> :</td>
        <td>{project.estimatedPurchaseDate -> f:format.date(format: 'F Y')}</td>
      </tr>
      <tr>
        <td><f:translate id="registration_notes" /> :</td>
        <td>{project.registrationNotes -> f:format.nl2br()}</td>
      </tr>
      <f:if condition="{project.internalNote}">
        <tr>
          <td><f:translate id="internal_note" /> :</td>
          <td>{project.internalNote -> f:format.nl2br()}</td>
        </tr>
      </f:if>
      <f:if condition="{project.rejected}">
        <f:if condition="{project.denialNote}">
          <tr>
            <td><f:translate id="denial_note" /> :</td>
            <td>{project.denialNote -> f:format.nl2br()}</td>
          </tr>
        </f:if>
      </f:if>
      <tr>
        <td colspan="2"><br /><h3><f:translate id="end_user_information" /> <f:link.action action="show" controller="Person" arguments="{person: project.endUser}" title="Show all information"><i class="fa fa-info-circle fa-fw"></i></f:link.action></h3></td>
      </tr>
      <tr>
        <td><f:translate id="contact" /> :</td>
        <td>{project.endUser.name}</td>
      </tr>
      <tr>
        <td><f:translate id="company" /> :</td>
        <td>{project.endUser.company}</td>
      </tr>
      <tr>
        <td><f:translate id="email" /> :</td>
        <td><f:link.typolink parameter="{project.endUser.email}" /></td>
      </tr>
      <tr>
        <td><f:translate id="phone" /> :</td>
        <td>{project.endUser.phone}</td>
      </tr>
      <tr>
        <td><f:translate id="city" /> :</td>
        <td>{project.endUser.city}</td>
      </tr>
      <tr>
        <td><f:translate id="site" /> :</td>
        <td>{project.endUser.site}</td>
      </tr>
      <tr>
        <td><f:translate id="country" /> :</td>
        <td>{project.endUser.country.title}</td>
      </tr>
      <tr>
        <td><f:translate id="state_province" /> :</td>
        <td>{project.endUser.state.title}</td>
      </tr>
    </tbody>
  </table>

  <a href="javascript:window.close()" class="btn btn-danger"><i class="fa fa-times-circle fa-lg"></i>&nbsp; <f:translate id="link_close_window" /></a>

</f:section>