
<table class="tx-project-registration" >
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.name" />
		</td>
		<td>
		{person.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.company" />
		</td>
		<td>
		{person.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.email" />
		</td>
		<td>
		{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.phone" />
		</td>
		<td>
		{person.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.city" />
		</td>
		<td>
		{person.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_person.site" />
		</td>
		<td>
		{person.site}
		</td>
	</tr>
</table>