
<table class="tx-project-registration" >
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.title" />
		</td>
		<td>
		{project.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.date_of_request" />
		</td>
		<td>
		{project.dateOfRequest -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.application" />
		</td>
		<td>
		{project.application}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.quantity" />
		</td>
		<td>
		{project.quantity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.estimated_purchase_date" />
		</td>
		<td>
		{project.estimatedPurchaseDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.registration_notes" />
		</td>
		<td>
		{project.registrationNotes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.internal_note" />
		</td>
		<td>
		{project.internalNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.denial_note" />
		</td>
		<td>
		{project.denialNote}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectregistration_domain_model_project.approved" />
		</td>
		<td>
		{project.approved}
		</td>
	</tr>
</table>